.container {
  width: 25rem;
  background-color: white;
  display: flex;

  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

/* .title {
  margin-left: auto;
  margin-right: auto;
} */
